#shopContainer {
    height: 100vh;
}

/* The sidebar menu */
#shopNavBarContainer {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    background-color: #111; /* Black */
    padding-top: 20px;
    float:left;
}
#shopnav-links {
    color: white;
    list-style: none;
}

li {
    padding: 5px 5px 5px 5px;
}
